<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">OpenSRS API</a>
    <ul class="nav">
      <li class="active"><a href="#">GetInfoOrder</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<section>
  <h1>OpenSRS API</h1>
</section>

<nav>
  <a href=""></a>
</nav>

<section>
  <h2>GetInfoOrder</h2>

  <%= form_tag '/opensrs', :authenticity_token => "cf50faa3fe97702ca1ae" do %>
    <div><%= text_field_tag 'userlogin'  %></div>
    <div><%= submit_tag 'Отправить' %></div>
  <% end %>

</section>