<?xml version='1.0' encoding='UTF-8' standalone='no' ?>
<!DOCTYPE OPS_envelope SYSTEM 'ops.dtd'>
<OPS_envelope>
   <header>
      <version>0.9</version>
   </header>
   <body>
      <data_block>
         <dt_assoc>
            <item key='protocol'>XCP</item>
            <item key='action'>REPLY</item>
            <item key='object'>TRUST_SERVICE</item>
            <item key='is_success'>1</item>
            <item key='response_text'>Command completed successfully.</item>
            <item key='response_code'>200</item>
            <item key='attributes'>
               <dt_assoc>
                  <item key='product_type'>truebizid_wildcard</item>
                  <item key='issue_date'>2010-09-14-04:00</item>
                  <item key='domain'>*.example.com</item>
                  <item key='product_id'>99</item>
                  <item key='contact_email'>qafive@example.com</item>
                  <item key='start_date'>2010-09-13-04:00</item>
                  <item key='expiry_date'>2010-09-22-04:00</item>
                  <item key='is_renewable'>0</item>
                  <item key='state'>expired</item>
               </dt_assoc>
            </item>
         </dt_assoc>
      </data_block>
   </body>
</OPS_envelope>
